[Desktop Entry]
Name=carrotpilot-v91
Comment=Launch V91
Exec=/bin/bash -c "cd ajouatom && export FINGERPRINT="HONDA_ACCORD" && export SKIP_FW_QUERY="1" && source .venv/bin/activate && USE_WEBCAM=1 ROAD_CAM=0 system/manager/manager.py"
Terminal=flase
Type=Application
Categories=Utility;
