[Unit]
Description=Location Daemon with JY62 IMU Support
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/$LOGNAME/ajouatom/selfdrive/locationd/locationd --type=jy62 --device=/dev/ttyUSB0 --baud=115200
WorkingDirectory=/home/$LOGNAME/ajouatom
Restart=always
RestartSec=3
User=root
Group=dialout

[Install]
WantedBy=multi-user.target